@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; 

body {
  @apply antialiased;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
